# Database
DB_HOST=db
DB_PORT=5432
INITIAL_SEED=True # Set to True to enable seeding during container startup, False to disable
ENV_MODE=development 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=odyssey_db

#IOS Bundle
APP_BUNDLE_ID=com.app.odyssey.bilkent.yourname

# Django
SECRET_KEY=your-secret-key-here
DEBUG=1
ALLOWED_HOSTS=*

# API Keys
GEMINI_API_KEY=your-gemini-api-key
GOOGLE_MAPS_API_KEY=your-google-maps-api-key

# AWS S3 Storage
USE_S3=True
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_S3_REGION_NAME=your-region-e.g.-us-east-1

## Apple stuff
APPLE_TEAM_ID=XXXXXXXXXX
APPLE_KEY_ID=XXXXXXXXXX
APPLE_CERTIFICATE_PATH=/path/to/AuthKey_XXXXXXXXXX.p8
APNS_BUNDLE_ID=com.yourcompany.odyssey
APNS_USE_SANDBOX=True